body {
  background: url("http://www.hifreevideos.com/images/preview/minimalistic-humor-meme-simple-background-simple-white-background-neil-18017.jpg");
}


#random{
  color:green;
  text-align:center;
}
p, ol, a{
  color:white;
}
img {
 length: 500px;
 width: 500px;
}
