body {
  background: url("https://orig03.deviantart.net/6b23/f/2016/228/3/3/shia_by_deathbattledino-dae5410.jpg");
}


#random{
  color:white;
  text-align:center;
}
p, ol, a{
  color:white;
}
img {
 length: 500px;
 width: 500px;
}
